jax-ws/contract-first/first-api/src/main/resources/CarServiceSchema1.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2014 Designer Edition (Trial) 12.2.8.5459 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://service.cxf.examples.ivmx.pl/"
           attributeFormDefault="unqualified"
           elementFormDefault="unqualified"
           targetNamespace="http://service.cxf.examples.ivmx.pl/"
           version="1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="addCar"
                type="tns:addCar" />
    <xs:element name="addCarResponse"
                type="tns:addCarResponse" />
    <xs:element name="addCars"
                type="tns:addCars" />
    <xs:element name="addCarsResponse"
                type="tns:addCarsResponse" />
    <xs:element name="carCollection"
                type="tns:carCollection" />
    <xs:element name="getCar"
                type="tns:getCar" />
    <xs:element name="getCarResponse"
                type="tns:getCarResponse" />
    <xs:element name="getCars"
                type="tns:getCars" />
    <xs:element name="getCarsResponse"
                type="tns:getCarsResponse" />
    <xs:element name="car"
                type="tns:Car" />
    <xs:element name="type"
                type="tns:Type" />
    <xs:complexType name="getCar">
        <xs:sequence>
            <xs:element name="carId"
                        type="xs:int"
                        minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getCarResponse">
        <xs:sequence>
            <xs:element name="document"
                        type="tns:Car"
                        minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Car">
        <xs:sequence>
            <xs:element name="id"
                        type="xs:int" />
            <xs:element name="type"
                        type="tns:Type" />
            <xs:element name="brand"
                        type="xs:string" />
            <xs:element name="name"
                        type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Type">
        <xs:sequence>
            <xs:element name="id"
                        type="xs:int"
                        minOccurs="0" />
            <xs:element name="name"
                        type="xs:string"
                        minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FaultInfo">
        <xs:sequence>
            <xs:element name="message"
                        type="xs:string"
                        minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="addCars">
        <xs:sequence>
            <xs:element name="cars"
                        type="tns:carCollection"
                        minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="carCollection">
        <xs:sequence>
            <xs:element name="cars"
                        type="tns:Car"
                        minOccurs="0"
                        maxOccurs="unbounded"
                        nillable="true" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="addCarsResponse">
        <xs:sequence />
    </xs:complexType>
    <xs:complexType name="addCar">
        <xs:sequence>
            <xs:element name="car"
                        type="tns:Car"
                        minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="addCarResponse">
        <xs:sequence>
            <xs:element name="document"
                        type="xs:int"
                        minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getCars">
        <xs:sequence />
    </xs:complexType>
    <xs:complexType name="getCarsResponse">
        <xs:sequence>
            <xs:element name="document"
                        type="tns:carCollection"
                        minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GenException"
                type="tns:FaultInfo"
                nillable="true" />
</xs:schema>
